<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">

    <link name="base_link">
        <pose xyz="0 0 0.15" rpy="0 0 0" />
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>     
            <geometry>
                <mesh filename="package://nemo_description/meshes/visual_base_link.dae"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="21.655336950308023"/>
            <origin xyz = "0 0 -0.15" rpy = "0 0 0 "/>
            <inertia ixx="0.31520658221610337" ixy="0.01" ixz="0.01" iyy="0.5612468130234098" iyz="0.01" izz="0.5976589117638781"/>
        </inertial>
        <collision>
            <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size ="0.5 0.4 0.3"/>
            </geometry>
        </collision>
        
        

        
    </link>
</robot>