<?xml version="1.0"?>
<!--<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nemo_auv">
    <gazebo>
    <plugin filename="ignition-gazebo-hydrodynamics-system" name="ignition::gazebo::systems::Hydrodynamics">    
        <link_name>base_link</link_name>
        <xDotU>-5.5</xDotU>
        <yDotV>-12.7</yDotV>
        <zDotW>-14.57</zDotW>
        <kDotP>-0.12</kDotP>
        <mDotQ>-0.12</mDotQ>
        <nDotR>-0.12</nDotR>
                
        <xUabsU>-33.800000000000004</xUabsU>
        <yVabsV>-54.26875</yVabsV>
        <zWabsW>-73.37135</zWabsW>
        <kPabsP>-40.0</kPabsP>
        <mQabsQ>-40.0</mQabsQ>
        <nRabsR>-40.0</nRabsR>
    
        <xU>-25.15</xU>
        <yV>-7.364</yV>
        <zW>-17.955</zW>
        <kP>-10.888</kP>
        <mQ>-20.761</mQ>
        <nR>-3.744</nR>                
    </plugin>
</gazebo>
    
</robot>-->

<gazebo>
  <plugin filename="ignition-gazebo-hydrodynamics-system" name="ignition::gazebo::systems::Hydrodynamics">
    <link_name>base_link</link_name>

    <!-- Added Mass Coefficients (based on fraction of mass) -->
    <xDotU>-15.00</xDotU>     <!-- surge: forward/backward -->
    <yDotV>-12.0</yDotV>    <!-- sway: sideways -->
    <zDotW>-20.0</zDotW>    <!-- heave: vertical -->
    <kDotP>-0.4</kDotP>    <!-- roll -->
    <mDotQ>-0.75</mDotQ>    <!-- pitch -->
    <nDotR>-0.4</nDotR>    <!-- yaw -->

    <!-- Quadratic Damping (based on frontal areas) -->
    <xUabsU>-60.0</xUabsU>  <!-- along length -->
    <yVabsV>-55.0</yVabsV>  <!-- sideways -->
    <zWabsW>-80.0</zWabsW>  <!-- vertical -->
    <kPabsP>-50.0</kPabsP>  <!-- angular roll -->
    <mQabsQ>-70.0</mQabsQ>  <!-- angular pitch -->
    <nRabsR>-50.0</nRabsR>  <!-- angular yaw -->

    <!-- Linear Damping (resistance even at low velocity) -->
    <xU>-18.0</xU>
    <yV>-8.0</yV>
    <zW>-10.0</zW>
    <kP>-12.0</kP>
    <mQ>-9.0</mQ>
    <nR>-9.0</nR>
  </plugin>
</gazebo>
